.button {
    border-radius: 8px;
    font-weight: 700;
  }
  
  button#popcorn {
    background-color: #d4ee43;
  }
  button#soda {
    background-color: #725109;
  }
  button#candy {
    background-color: #e43b3b;
  }
  button#nachos {
    background-color: #abad19;
  }
  button#icecream {
    background-color: #e43b3b;
  }
  
  #shopping-cart {
    background-color: #e1ebe4;
    max-width: 600px;
    min-height: 400px;
    border-radius: 20px;
    margin: 20px auto;
    padding: 20px;
  }